@font-face {
  font-family: 'OpenAI Sans';
  src: url('/fonts/OpenAISans/OpenAI%20Sans%20Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('/fonts/OpenAISans/OpenAI%20Sans%20Regular%20Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('/fonts/OpenAISans/OpenAI%20Sans%20Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('/fonts/OpenAISans/OpenAI%20Sans%20Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('/fonts/OpenAISans/OpenAI%20Sans%20Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
}
