@font-face {
  font-family: 'Anthropic Sans';
  src: url('/fonts/AnthropicSans/AnthropicSans-Text-Regular-Static.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Anthropic Sans';
  src: url('/fonts/AnthropicSans/AnthropicSans-Text-RegularItalic-Static.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Anthropic Sans';
  src: url('/fonts/AnthropicSans/AnthropicSans-Text-Medium-Static.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Anthropic Sans';
  src: url('/fonts/AnthropicSans/AnthropicSans-Text-MediumItalic-Static.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Anthropic Sans';
  src: url('/fonts/AnthropicSans/AnthropicSans-Text-Semibold-Static.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Anthropic Sans';
  src: url('/fonts/AnthropicSans/AnthropicSans-Text-Bold-Static.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Anthropic Sans';
  src: url('/fonts/AnthropicSans/AnthropicSans-Text-BoldItalic-Static.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
